<div class="stock-card">
  <ng-container
    *ngIf="symbolQuote$ | async as symbolQuote; else loadingOrError"
  >
    <div class="title-container">
      <h2>{{ description }} ({{ displaySymbol }})</h2>
      <button [id]="getButtonId('remove')" (click)="deleteSymbol()">╳</button>
    </div>
    <div class="values-container">
      <div class="grid-values">
        <p>Change today: {{ symbolQuote.dp / 100 | percent : '1.2-2' }}</p>
        <p>Openning price: {{ symbolQuote.o | currency : 'USD' }}</p>
        <p>Current price: {{ symbolQuote.c | currency : 'USD' }}</p>
        <p>High price: {{ symbolQuote.h | currency : 'USD' }}</p>
      </div>
      <app-variation-arrow [value]="symbolQuote.dp"></app-variation-arrow>
    </div>
    <button [id]="getButtonId('sentiment')" (click)="naviguateToSentiment()">
      Go to social sentiment details
    </button>
  </ng-container>
</div>

<ng-template #loadingOrError>
  <div class="title-container">
    <h2>{{ symbol }}</h2>
    <button [id]="getButtonId('remove')" (click)="deleteSymbol()">╳</button>
  </div>
  <ng-container *ngIf="error; else loading">No data available</ng-container>
</ng-template>

<ng-template #loading>
  <app-loading-image></app-loading-image>
</ng-template>
